<nb-card status="warning" *ngIf="!canDisplayForms">
  <nb-card-header
    ><nb-icon icon="alert-triangle-outline"></nb-icon> Ficha no
    autorizada</nb-card-header
  >
  <nb-card-body>
    El postulante no ha completado la <strog>FICHA DE USUARIO</strog>.
  </nb-card-body>
</nb-card>

<nb-card class="col-md-12 col-lg-12 col-xxxl-12" *ngIf="canDisplayForms">
  <nb-card
    [nbSpinner]="loadingForms"
    nbSpinnerStatus="warning"
    nbSpinnerSize="giant"
    *ngIf="loadingForms"
  >
    <nb-card-body>
      Cargando <strong>FICHA DE INSCRIPCIÓN</strong>....
    </nb-card-body>
  </nb-card>

  <nb-card-body *ngIf="!loadingForms">
    <nb-stepper orientation="horizontal">
      <nb-step label="Sección I">
        <stepp [document]="forms[0]"> </stepp>
        <div class="buttons-row" style="text-align: center">
          <button outline status="primary" nbButton nbStepperNext>
            Siguiente
            <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
          </button>
        </div>
      </nb-step>
      <nb-step label="Sección II">
        <stepp [document]="forms[1]"> </stepp>

        <div class="buttons-row" style="text-align: center">
          <button
            outline
            status="primary"
            nbButton
            nbStepperPrevious
            style="margin-right: 10px"
          >
            <nb-icon icon="arrow-ios-back-outline"></nb-icon>
            Atras
          </button>
          <button outline status="primary" nbButton nbStepperNext>
            Siguiente
            <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
          </button>
        </div>
      </nb-step>
      <nb-step label="Sección III">
        <stepp [document]="forms[2]"> </stepp>
        <div class="buttons-row" style="text-align: center">
          <button outline status="primary" nbButton nbStepperPrevious>
            <nb-icon icon="arrow-ios-back-outline"></nb-icon>
            Atras
          </button>
        </div>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>
