<nb-card status="warning" *ngIf="canDisplayAlert">
  <nb-card-header
    ><nb-icon icon="alert-triangle-outline"></nb-icon> Ficha no
    autorizada</nb-card-header
  >
  <nb-card-body>
    El postulante no ha completado la <b>FICHA DE USUARIO</b>.
  </nb-card-body>
</nb-card>

<nb-card
  [nbSpinner]="loadingForms"
  nbSpinnerStatus="warning"
  nbSpinnerSize="giant"
  *ngIf="loadingForms"
>
  <nb-card-body> Cargando <b>FICHA DE INSCRIPCIÓN</b>.... </nb-card-body>
</nb-card>

<nb-card class="col-md-12 col-lg-12 col-xxxl-12" *ngIf="canDisplayForms">
  <nb-card-body>
    <nb-stepper orientation="horizontal">
      <nb-step label="Sección I">
        <stepp [document]="data[0]" [teacherId]="teacherId"> </stepp>
        <div class="buttons-row" style="text-align: center">
          <button outline status="primary" nbButton nbStepperNext>
            Siguiente
            <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
          </button>
        </div>
      </nb-step>
      <nb-step label="Sección II">
        <stepp [document]="data[1]" [teacherId]="teacherId"> </stepp>

        <div class="buttons-row" style="text-align: center">
          <button outline status="primary" nbButton nbStepperPrevious>
            <nb-icon icon="arrow-ios-back-outline"></nb-icon>
            Atras
          </button>
          <button outline status="primary" nbButton nbStepperNext>
            Siguiente
            <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
          </button>
        </div>
      </nb-step>
      <nb-step label="Sección III">
        <stepp [document]="data[2]" [teacherId]="teacherId"> </stepp>
        <div class="buttons-row" style="text-align: center">
          <button outline status="primary" nbButton nbStepperPrevious>
            <nb-icon icon="arrow-ios-back-outline"></nb-icon>
            Atras
          </button>
        </div>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>
