<h1 class="title">Promoción Docente UNI</h1>
<img src="../../../../assets/images/logo-uni.png" alt="logo" class="center" />

<h2 id="title" class="title">Recuperar Cuenta</h2>
<form (ngSubmit)="sendReset()" [formGroup]="fg" aria-labelledby="title">
  <div class="form-control-group">
    <label class="label" for="email">Correo</label>
    <input
      nbInput
      placeholder="example@gmail.com"
      autofocus
      fullWidth
      fieldSize="large"
      formControlName="email"
      id="email"
    />
    <div
      *ngIf="
        fg.get('email').errors?.required &&
        (fg.get('email').dirty || fg.get('email').touched)
      "
      class="text-danger"
    >
      <small class="caption status-danger"> El correo es obligatorio </small>
    </div>

    <div
      *ngIf="
        fg.get('email').errors?.pattern &&
        (fg.get('email').dirty || fg.get('email').touched)
      "
      class="text-danger"
    >
      <small class="caption status-danger">
        No es un correo electronico valido
      </small>
    </div>
  </div>

  <button
    nbButton
    class="mt-4"
    fullWidth
    status="primary"
    size="large"
    [disabled]="submitted || this.fg.invalid"
  >
    Siguiente
  </button>
</form>

<section class="another-action" aria-label="Sign in">
  <a class="text-link" routerLink="../register">¿Desea crear una cuenta?</a>
</section>

<section class="another-action" aria-label="Sign in">
  <a class="text-link" routerLink="../login">¿Desea Iniciar Sesión?</a>
</section>