<h1 class="title">Promoción Docente UNI</h1>
<img src="../../../../assets/images/logo-uni.png" alt="logo" class="center" />

<h2 id="title" class="title">Cambiar Contraseña</h2>
<form (ngSubmit)="updatePassword()" [formGroup]="fg" aria-labelledby="title">
  
  <div class="form-control-group">
    <label class="label" for="dni">Contraseña</label>
    <input
      nbInput
      placeholder="12345678"
      autofocus
      fullWidth
      fieldSize="large"
      formControlName="password"
      type="password"
      id="dni"
    />
    <div
      *ngIf="
        fg.get('password').errors?.required &&
        (fg.get('password').dirty || fg.get('password').touched)
      "
      class="text-danger"
    >
      <small class="caption status-danger">
        La contraseña es obligatorio
      </small>
    </div>
  </div>

  <div class="form-control-group">
    <label class="label" for="dni">Confirmar contraseña</label>
    <input
      nbInput
      placeholder="12345678"
      autofocus
      fullWidth
      fieldSize="large"
      formControlName="repassword"
      id="dni"
      type="password"
    />
    <div
      *ngIf="
        fg.get('repassword').errors?.required &&
        (fg.get('repassword').dirty || fg.get('repassword').touched)
      "
      class="text-danger"
    >
      <small class="caption status-danger">
        La confirmación de contraseña es obligatorio
      </small>
    </div>

    <div
      *ngIf="
        fg.get('repassword').errors?.notEqualPassword &&
        (fg.get('repassword').dirty || fg.get('repassword').touched)
      "
      class="text-danger"
    >
      <small class="caption status-danger">
        Las contraseñas no coinciden
      </small>
    </div>
  </div>

  <button
    nbButton
    class="mt-4"
    fullWidth
    status="primary"
    size="large"
    [disabled]="submitted || this.fg.invalid"
  >
    Siguiente
  </button>
</form>

<section class="another-action" aria-label="Sign in">
  <a class="text-link" routerLink="../../register">¿Desea crear una nueva cuenta?</a>
</section>

<section class="another-action" aria-label="Sign in">
  <a class="text-link" routerLink="../../login">¿Cambio su contraseña exitosamente?</a>
</section>