<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <h2 style="text-align: center; color: #ff3d71">
          Plataforma Promoción Docente UNI
        </h2>
      </nb-card-header>
      <nb-card-body>
        <br />
        <div class="row">
          <div class="col-md-6">
            <nb-card accent="success">
              <nb-card-header>
                <nb-icon icon="file-outline"></nb-icon>
                Promoción Docente | Resultados Finales
              </nb-card-header>
              <nb-card-body>
                <iframe
                  [src]="urlResultFinal"
                  type="application/pdf"
                  height="600px"
                  width="100%"
                  class="responsive"
                ></iframe>
              </nb-card-body>
            </nb-card>
          </div>

          <div class="col-md-6">
            <nb-card accent="success">
              <nb-card-header>
                <nb-icon icon="file-outline"></nb-icon>
                Fase 02 | Resultados Prueba por oposicion
              </nb-card-header>
              <nb-card-body>
                <iframe
                  [src]="urlSafe"
                  type="application/pdf"
                  height="600px"
                  width="100%"
                  class="responsive"
                ></iframe>
              </nb-card-body>
            </nb-card>
          </div>

          <div class="col-md-6">
            <nb-card accent="danger">
              <nb-card-header>
                <nb-icon icon="calendar-outline"></nb-icon>
                Cronograma
              </nb-card-header>
              <nb-card-body>
                <iframe
                  src="../../../assets/docs/cronograma.pdf"
                  type="application/pdf"
                  height="600px"
                  width="100%"
                  class="responsive"
                ></iframe>
              </nb-card-body>
            </nb-card>
          </div>

          <div class="col-md-6">
            <nb-card accent="danger">
              <nb-card-header>
                <nb-icon icon="award-outline"></nb-icon>
                Resolución Rectoral RR-1525
              </nb-card-header>
              <nb-card-body>
                <iframe
                  src="../../../assets/docs/RR_1525_2021.pdf"
                  type="application/pdf"
                  height="600px"
                  width="100%"
                  class="responsive"
                ></iframe>
              </nb-card-body>
            </nb-card>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-md-6">
            <nb-card accent="info">
              <nb-card-header>
                <nb-icon icon="file-outline"></nb-icon>
                ANEXO 1
              </nb-card-header>
              <nb-card-body>
                <iframe
                  src="../../../assets/docs/ANEXO_01.pdf"
                  type="application/pdf"
                  height="600px"
                  width="100%"
                  class="responsive"
                ></iframe>
              </nb-card-body>
            </nb-card>
          </div>

          <div class="col-md-6">
            <nb-card accent="info">
              <nb-card-header>
                <nb-icon icon="file-outline"></nb-icon>
                ANEXO 2
              </nb-card-header>
              <nb-card-body>
                <iframe
                  src="../../../assets/docs/ANEXO_02.pdf"
                  type="application/pdf"
                  height="600px"
                  width="100%"
                  class="responsive"
                ></iframe>
              </nb-card-body>
            </nb-card>
          </div>
        </div> -->
      </nb-card-body>
    </nb-card>
  </div>
</div>
